@import "tailwindcss";

body{
    font-family: 'poppins','sens-serif';
    background: #f0f8ff;

}

h1,h2,h3,h4,h5,h6{
    font-family: 'roboto','sans-serif';

}

span{
    font-family:'Fredoka','sans-serif' ;
}

.loader-bar{
    height: 100%;
    width: 0%;
    background-color: #2563eb;
    animation: fill 1.5s ease-in-out infinite;
}

@keyframes fill {
    0%{
        width: 0%;
    }50%{
        width:70%;
    }100%{
        width: 100%;
    }
}